body{
	background-color: #8ECCCC;
}
			
hr {
	border-style: none;
	border-top-style: dashed;
	border-color: #50717b;
	border-width: 5px;
	width: 5%;

}

h1 {
	color: #212121;
}

h3 {
	color: #212121;
}